name: Pre-Release
on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
      prerelease_type:
        description: 'Prerelease'
        required: true
        default: 'beta'
        type: choice
        options:
          - beta
          - rc

permissions: write-all

jobs:
  validate:
    name: Validate
    uses: ./.github/workflows/validate.yaml

  publish:
    name: Publish
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Config Git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Run release
        run: npm run release --ci -i ${{ github.event.inputs.bump_type }} --preRelease ${{ github.event.inputs.prerelease_type }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
